* {
	box-sizing: border-box;
}

body {
	color: #fff;
	background-color: #000;
	font-family: 'Nosifer', cursive;
	font-size: 1.5em;
	background-image: url(../images/ep_naturalwhite.png);
}

.mytitle {
	font-size: 2em;
	text-align: center;
}

.mybox {
	height: 500px;
	border: 3px dotted #fff !important;
	padding-top: 30px;
}

.mysep {
	border-top: 3px dashed #fff !important;
	padding-top: 30px;
}

#wordImage {
	width: 220px;
	height: 200px;
	margin-bottom: 30px;
}

#ansWord, #userScore, #userWord, #userRemained, #userGuessed {
	color: yellow;
	padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
	.mybox {
		height: auto;
	}
}

